<!DOCTYPE html>
<html lang="en">
<head>
    <title>Портфолио разработчика</title>
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="static/style.css" rel="stylesheet">
</head>
<body>
    <h1>Портфолио разработчика</h1>
    <form>
        <div>
            <input type="text" id="title" name="title" required>
            <label for="title">Название проекта:</label>
        </div>
        <div>
            <input type="text" id="link" name="link" required>
            <label for="link">Ссылка:</label>
        </div>
        <button onClick="addProject()">Добавить</button>
   </form>
    <table>
       <thead>
           <tr>
               <th>Название</th>
               <th>Ссылка</th>
           </tr>
       </thead>
       <tbody>
           {% for project in projects_list %}
           <tr>
               <td>{{ project['title'] }}</td>
               <td>{{ project['link'] }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
    <button onclick="clearProjects()">Отчистить</button>
   </body>
   </html>